/* QUADERNI */

@font-face {
	font-family: "Quaderni";
	src:	url('https://www.bauvolk.org/fonts/Quaderni/Quaderni-Regular.woff2') format('woff2'),
			url('https://www.bauvolk.org/fonts/Quaderni/Quaderni-Regular.woff') format('woff'),
			url('https://www.bauvolk.org/fonts/Quaderni/Quaderni-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: block;
}

/* GESPENST */

@font-face {
    font-family: 'Gespenst';
    src: url('https://www.bauvolk.org/fonts/Gespenst/Gespenst-Bold.woff2') format('woff2'),
        url('https://www.bauvolk.org/fonts/Gespenst/Gespenst-Bold.woff') format('woff'),
        url('https://www.bauvolk.org/fonts/Gespenst/Gespenst-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Gespenst';
    src: url('https://www.bauvolk.org/fonts/Gespenst/Gespenst-Black.woff2') format('woff2'),
        url('https://www.bauvolk.org/fonts/Gespenst/Gespenst-Black.woff') format('woff'),
        url('https://www.bauvolk.org/fonts/Gespenst/Gespenst-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Gespenst';
    src: url('https://www.bauvolk.org/fonts/Gespenst/Gespenst-Medium.woff2') format('woff2'),
        url('https://www.bauvolk.org/fonts/Gespenst/Gespenst-Medium.woff') format('woff'),
        url('https://www.bauvolk.org/fonts/Gespenst/Gespenst-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Gespenst';
    src: url('https://www.bauvolk.org/fonts/Gespenst/Gespenst-Light.woff2') format('woff2'),
        url('https://www.bauvolk.org/fonts/Gespenst/Gespenst-Light.woff') format('woff'),
        url('https://www.bauvolk.org/fonts/Gespenst/Gespenst-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Gespenst';
    src: url('https://www.bauvolk.org/fonts/Gespenst/Gespenst-UltraLight.woff2') format('woff2'),
        url('https://www.bauvolk.org/fonts/Gespenst/Gespenst-UltraLight.woff') format('woff'),
        url('https://www.bauvolk.org/fonts/Gespenst/Gespenst-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Gespenst';
    src: url('https://www.bauvolk.org/fonts/Gespenst/Gespenst-Regular.woff2') format('woff2'),
        url('https://www.bauvolk.org/fonts/Gespenst/Gespenst-Regular.woff') format('woff'),
        url('https://www.bauvolk.org/fonts/Gespenst/Gespenst-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Gespenst';
    src: url('https://www.bauvolk.org/fonts/Gespenst/Gespenst-Thin.woff2') format('woff2'),
        url('https://www.bauvolk.org/fonts/Gespenst/Gespenst-Thin.woff') format('woff'),
        url('https://www.bauvolk.org/fonts/Gespenst/Gespenst-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Gespenst UltraBlack';
    src: url('https://www.bauvolk.org/fonts/Gespenst/Gespenst-UltraBlack.woff2') format('woff2'),
        url('https://www.bauvolk.org/fonts/Gespenst/Gespenst-UltraBlack.woff') format('woff'),
        url('https://www.bauvolk.org/fonts/Gespenst/Gespenst-UltraBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Gespenst';
    src: url('https://www.bauvolk.org/fonts/Gespenst/Gespenst-SemiBold.woff2') format('woff2'),
        url('https://www.bauvolk.org/fonts/Gespenst/Gespenst-SemiBold.woff') format('woff'),
        url('https://www.bauvolk.org/fonts/Gespenst/Gespenst-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: block;
}


/* ZT FORMOM */

@font-face {
    font-family: 'ZT Formom';
    src: url('https://www.bauvolk.org/fonts/ZTFormom/ZTFormom-Regular.woff2') format('woff2'),
        url('https://www.bauvolk.org/fonts/ZTFormom/ZTFormom-Regular.woff') format('woff'),
        url('https://www.bauvolk.org/fonts/ZTFormom/ZTFormom-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'ZT Formom';
    src: url('https://www.bauvolk.org/fonts/ZTFormom/ZTFormom-Oblique.woff2') format('woff2'),
        url('https://www.bauvolk.org/fonts/ZTFormom/ZTFormom-Oblique.woff') format('woff'),
        url('https://www.bauvolk.org/fonts/ZTFormom/ZTFormom-Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: block;
}


/* EBGaramond */

@font-face {
    font-family: 'EBGaramond';
    src: url('https://www.bauvolk.org/fonts/EBGaramond/EBGaramond-Bold.woff2') format('woff2'),
        url('https://www.bauvolk.org/fonts/EBGaramond/EBGaramond-Bold.woff') format('woff'),
        url('https://www.bauvolk.org/fonts/EBGaramond/EBGaramond-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'EBGaramond';
    src: url('https://www.bauvolk.org/fonts/EBGaramond/EBGaramond-Black.woff2') format('woff2'),
        url('https://www.bauvolk.org/fonts/EBGaramond/EBGaramond-Black.woff') format('woff'),
        url('https://www.bauvolk.org/fonts/EBGaramond/EBGaramond-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'EBGaramond';
    src: url('https://www.bauvolk.org/fonts/EBGaramond/EBGaramond-Medium.woff2') format('woff2'),
        url('https://www.bauvolk.org/fonts/EBGaramond/EBGaramond-Medium.woff') format('woff'),
        url('https://www.bauvolk.org/fonts/EBGaramond/EBGaramond-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'EBGaramond';
    src: url('https://www.bauvolk.org/fonts/EBGaramond/EBGaramond-Light.woff2') format('woff2'),
        url('https://www.bauvolk.org/fonts/EBGaramond/EBGaramond-Light.woff') format('woff'),
        url('https://www.bauvolk.org/fonts/EBGaramond/EBGaramond-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'EBGaramond';
    src: url('https://www.bauvolk.org/fonts/EBGaramond/EBGaramond-UltraLight.woff2') format('woff2'),
        url('https://www.bauvolk.org/fonts/EBGaramond/EBGaramond-UltraLight.woff') format('woff'),
        url('https://www.bauvolk.org/fonts/EBGaramond/EBGaramond-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'EBGaramond';
    src: url('https://www.bauvolk.org/fonts/EBGaramond/EBGaramond-Regular.woff2') format('woff2'),
        url('https://www.bauvolk.org/fonts/EBGaramond/EBGaramond-Regular.woff') format('woff'),
        url('https://www.bauvolk.org/fonts/EBGaramond/EBGaramond-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'EBGaramond';
    src: url('https://www.bauvolk.org/fonts/EBGaramond/EBGaramond-Thin.woff2') format('woff2'),
        url('https://www.bauvolk.org/fonts/EBGaramond/EBGaramond-Thin.woff') format('woff'),
        url('https://www.bauvolk.org/fonts/EBGaramond/EBGaramond-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'EBGaramond UltraBlack';
    src: url('https://www.bauvolk.org/fonts/EBGaramond/EBGaramond-UltraBlack.woff2') format('woff2'),
        url('https://www.bauvolk.org/fonts/EBGaramond/EBGaramond-UltraBlack.woff') format('woff'),
        url('https://www.bauvolk.org/fonts/EBGaramond/EBGaramond-UltraBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'EBGaramond';
    src: url('https://www.bauvolk.org/fonts/EBGaramond/EBGaramond-SemiBold.woff2') format('woff2'),
        url('https://www.bauvolk.org/fonts/EBGaramond/EBGaramond-SemiBold.woff') format('woff'),
        url('https://www.bauvolk.org/fonts/EBGaramond/EBGaramond-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: block;
}




/* SETTINGS */

* {
	font-family: "ZT Formom";
}

.abstract-text {
	font-family: "Gespenst";	
}

.artikel-title * {
	font-family: "Quaderni" !important;
	font-weight: 400 !important;
}