/* SPECTRAL */

@font-face {
	font-family: "Spectral";
	src:	url('https://www.GEFAENGNISHEFTE.org/fonts/Spectral/Spectral-Regular.woff2') format('woff2'),
			url('https://www.GEFAENGNISHEFTE.org/fonts/Spectral/Spectral-Regular.woff') format('woff'),
			url('https://www.GEFAENGNISHEFTE.org/fonts/Spectral/Spectral-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: "Spectral";
	src:	url('https://www.GEFAENGNISHEFTE.org/fonts/Spectral/Spectral-Bold.woff2') format('woff2'),
			url('https://www.GEFAENGNISHEFTE.org/fonts/Spectral/Spectral-Bold.woff') format('woff'),
			url('https://www.GEFAENGNISHEFTE.org/fonts/Spectral/Spectral-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: block;
}


/* SPECTRAL ITALIC */

@font-face {
	font-family: "Spectral";
	src:	url('https://www.GEFAENGNISHEFTE.org/fonts/Spectral/Spectral-Italic.woff2') format('woff2'),
			url('https://www.GEFAENGNISHEFTE.org/fonts/Spectral/Spectral-Italic.woff') format('woff'),
			url('https://www.GEFAENGNISHEFTE.org/fonts/Spectral/Spectral-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
	font-display: block;
}

@font-face {
	font-family: "Spectral";
	src:	url('https://www.GEFAENGNISHEFTE.org/fonts/Spectral/Spectral-BoldItalic.woff2') format('woff2'),
			url('https://www.GEFAENGNISHEFTE.org/fonts/Spectral/Spectral-BoldItalic.woff') format('woff'),
			url('https://www.GEFAENGNISHEFTE.org/fonts/Spectral/Spectral-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
	font-display: block;
}


/* QUADERNI */

@font-face {
	font-family: "Quaderni";
	src:	url('https://www.GEFAENGNISHEFTE.org/fonts/Quaderni/Quaderni-Regular.woff2') format('woff2'),
			url('https://www.GEFAENGNISHEFTE.org/fonts/Quaderni/Quaderni-Regular.woff') format('woff'),
			url('https://www.GEFAENGNISHEFTE.org/fonts/Quaderni/Quaderni-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: block;
}


/* GEIST */

@font-face {
    font-family: 'Geist';
    src: url('https://www.GEFAENGNISHEFTE.org/fonts/Geist/Geist-Bold.woff2') format('woff2'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Geist/Geist-Bold.woff') format('woff'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Geist/Geist-Bold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
     font-display: block;
}

/* REDACTION */

@font-face {
	font-family: "Redaction";
	src:	url('https://www.GEFAENGNISHEFTE.org/fonts/Redaction/Redaction-Regular.woff2') format('woff2'),
			url('https://www.GEFAENGNISHEFTE.org/fonts/Redaction/Redaction-Regular.otf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: "Redaction";
	src:	url('https://www.GEFAENGNISHEFTE.org/fonts/Redaction/Redaction-Bold.woff2') format('woff2'),
			url('https://www.GEFAENGNISHEFTE.org/fonts/Redaction/Redaction-Bold.otf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: "Redaction";
	src:	url('https://www.GEFAENGNISHEFTE.org/fonts/Redaction/Redaction-Italic.woff2') format('woff2'),
			url('https://www.GEFAENGNISHEFTE.org/fonts/Redaction/Redaction-Italic.otf') format('truetype');
	font-weight: 400;
	font-style: italic;
	font-display: block;
}


/* Cormorant */
@font-face {
    font-family: 'Cormorant';
    src: url('https://www.GEFAENGNISHEFTE.org/fonts/Cormorant/Cormorant-BoldItalic.woff2') format('woff2'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Cormorant/Cormorant-BoldItalic.woff') format('woff'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Cormorant/Cormorant-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Cormorant';
    src: url('https://www.GEFAENGNISHEFTE.org/fonts/Cormorant/Cormorant-Italic.woff2') format('woff2'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Cormorant/Cormorant-Italic.woff') format('woff'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Cormorant/Cormorant-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Cormorant';
    src: url('https://www.GEFAENGNISHEFTE.org/fonts/Cormorant/Cormorant-Bold.woff2') format('woff2'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Cormorant/Cormorant-Bold.woff') format('woff'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Cormorant/Cormorant-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Cormorant';
    src: url('https://www.GEFAENGNISHEFTE.org/fonts/Cormorant/Cormorant-LightItalic.woff2') format('woff2'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Cormorant/Cormorant-LightItalic.woff') format('woff'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Cormorant/Cormorant-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Cormorant';
    src: url('https://www.GEFAENGNISHEFTE.org/fonts/Cormorant/Cormorant-Light.woff2') format('woff2'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Cormorant/Cormorant-Light.woff') format('woff'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Cormorant/Cormorant-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Cormorant';
    src: url('https://www.GEFAENGNISHEFTE.org/fonts/Cormorant/Cormorant-Medium.woff2') format('woff2'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Cormorant/Cormorant-Medium.woff') format('woff'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Cormorant/Cormorant-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Cormorant';
    src: url('https://www.GEFAENGNISHEFTE.org/fonts/Cormorant/Cormorant-MediumItalic.woff2') format('woff2'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Cormorant/Cormorant-MediumItalic.woff') format('woff'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Cormorant/Cormorant-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Cormorant';
    src: url('https://www.GEFAENGNISHEFTE.org/fonts/Cormorant/Cormorant-Regular.woff2') format('woff2'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Cormorant/Cormorant-Regular.woff') format('woff'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Cormorant/Cormorant-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Cormorant';
    src: url('https://www.GEFAENGNISHEFTE.org/fonts/Cormorant/Cormorant-SemiBold.woff2') format('woff2'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Cormorant/Cormorant-SemiBold.woff') format('woff'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Cormorant/Cormorant-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Cormorant';
    src: url('https://www.GEFAENGNISHEFTE.org/fonts/Cormorant/Cormorant-SemiBoldItalic.woff2') format('woff2'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Cormorant/Cormorant-SemiBoldItalic.woff') format('woff'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Cormorant/Cormorant-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: block;
}



@font-face {
    font-family: 'EB Garamond';
    src: url('https://www.GEFAENGNISHEFTE.org/fonts/Garamond/EBGaramond-BoldItalic.woff2') format('woff2'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Garamond/EBGaramond-BoldItalic.woff') format('woff'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Garamond/EBGaramond-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
     font-display: block;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('https://www.GEFAENGNISHEFTE.org/fonts/Garamond/EBGaramond-Bold.woff2') format('woff2'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Garamond/EBGaramond-Bold.woff') format('woff'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Garamond/EBGaramond-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
     font-display: block;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('https://www.GEFAENGNISHEFTE.org/fonts/Garamond/EBGaramond-ExtraBold.woff2') format('woff2'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Garamond/EBGaramond-ExtraBold.woff') format('woff'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Garamond/EBGaramond-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
     font-display: block;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('https://www.GEFAENGNISHEFTE.org/fonts/Garamond/EBGaramond-ExtraBoldItalic.woff2') format('woff2'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Garamond/EBGaramond-ExtraBoldItalic.woff') format('woff'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Garamond/EBGaramond-ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
     font-display: block;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('https://www.GEFAENGNISHEFTE.org/fonts/Garamond/EBGaramond-Italic.woff2') format('woff2'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Garamond/EBGaramond-Italic.woff') format('woff'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Garamond/EBGaramond-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
     font-display: block;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('https://www.GEFAENGNISHEFTE.org/fonts/Garamond/EBGaramond-Medium.woff2') format('woff2'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Garamond/EBGaramond-Medium.woff') format('woff'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Garamond/EBGaramond-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
     font-display: block;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('https://www.GEFAENGNISHEFTE.org/fonts/Garamond/EBGaramond-MediumItalic.woff2') format('woff2'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Garamond/EBGaramond-MediumItalic.woff') format('woff'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Garamond/EBGaramond-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
     font-display: block;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('https://www.GEFAENGNISHEFTE.org/fonts/Garamond/EBGaramond-Regular.woff2') format('woff2'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Garamond/EBGaramond-Regular.woff') format('woff'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Garamond/EBGaramond-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
     font-display: block;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('https://www.GEFAENGNISHEFTE.org/fonts/Garamond/EBGaramond-SemiBold.woff2') format('woff2'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Garamond/EBGaramond-SemiBold.woff') format('woff'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Garamond/EBGaramond-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
     font-display: block;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('https://www.GEFAENGNISHEFTE.org/fonts/Garamond/EBGaramond-SemiBoldItalic.woff2') format('woff2'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Garamond/EBGaramond-SemiBoldItalic.woff') format('woff'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Garamond/EBGaramond-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
     font-display: block;
}



/* GEIST */

@font-face {
    font-family: 'Gespenst';
    src: url('https://www.GEFAENGNISHEFTE.org/fonts/Gespenst/Gespenst-Bold.woff2') format('woff2'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Gespenst/Gespenst-Bold.woff') format('woff'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Gespenst/Gespenst-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Gespenst';
    src: url('https://www.GEFAENGNISHEFTE.org/fonts/Gespenst/Gespenst-Black.woff2') format('woff2'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Gespenst/Gespenst-Black.woff') format('woff'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Gespenst/Gespenst-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Gespenst';
    src: url('https://www.GEFAENGNISHEFTE.org/fonts/Gespenst/Gespenst-Medium.woff2') format('woff2'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Gespenst/Gespenst-Medium.woff') format('woff'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Gespenst/Gespenst-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Gespenst';
    src: url('https://www.GEFAENGNISHEFTE.org/fonts/Gespenst/Gespenst-Light.woff2') format('woff2'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Gespenst/Gespenst-Light.woff') format('woff'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Gespenst/Gespenst-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Gespenst';
    src: url('https://www.GEFAENGNISHEFTE.org/fonts/Gespenst/Gespenst-UltraLight.woff2') format('woff2'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Gespenst/Gespenst-UltraLight.woff') format('woff'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Gespenst/Gespenst-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Gespenst';
    src: url('https://www.GEFAENGNISHEFTE.org/fonts/Gespenst/Gespenst-Regular.woff2') format('woff2'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Gespenst/Gespenst-Regular.woff') format('woff'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Gespenst/Gespenst-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Gespenst';
    src: url('https://www.GEFAENGNISHEFTE.org/fonts/Gespenst/Gespenst-Thin.woff2') format('woff2'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Gespenst/Gespenst-Thin.woff') format('woff'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Gespenst/Gespenst-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Gespenst UltraBlack';
    src: url('https://www.GEFAENGNISHEFTE.org/fonts/Gespenst/Gespenst-UltraBlack.woff2') format('woff2'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Gespenst/Gespenst-UltraBlack.woff') format('woff'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Gespenst/Gespenst-UltraBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Gespenst';
    src: url('https://www.GEFAENGNISHEFTE.org/fonts/Gespenst/Gespenst-SemiBold.woff2') format('woff2'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Gespenst/Gespenst-SemiBold.woff') format('woff'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Gespenst/Gespenst-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Ginoz';
    src: url('https://www.GEFAENGNISHEFTE.org/fonts/Ginoz/Ginoz-Regular.woff2') format('woff2'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Ginoz/Ginoz-Regular.woff') format('woff'),
        url('https://www.GEFAENGNISHEFTE.org/fonts/Ginoz/Ginoz-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: block;
}



/* SETTINGS */

* {
	font-family: "EB Garamond";
}

.abstract-text {
	font-family: "Geist";	
}

.artikel-title *, #title *, #logo, .issue-title.vertical * {
	font-family: "Quaderni" !important;
	font-weight: 400 !important;
}

.issue-title.vertical * {
	font-size: 22pt;
	line-height: 0.9;
}

#logo {
	font-size: 26pt !important;
	padding: 6px 12px 0px 12px !important;
}

@media screen and (max-width: 800px) {
	#logo {
		font-size: 22pt !important;
		padding: 5px 12px 0px 12px !important;
	}
}
