* {max-width: 100%;}

:root {
	--font-small: clamp(0.75rem, 0.12rem + 2.88vw, 0.93rem); /* - */
	--font-regular: clamp(0.75rem, -1.45rem + 11.7vw, 1.085rem); /* 13pt- */
	--font-medium: clamp(0.9rem, 0.2rem + 3.73333333333333vw, 1.25rem);  /* 15pt-11pt | 450px-300px*/
	--font-medium-large: clamp(1.5rem, -0.36536rem + 2.13184vw, 1.8331rem); /* 22pt-18pt | 1650px-1400px*/
	--font-large: clamp(0.9rem, -0.0444444444444445rem + 6.04444444444445vw, 2.6rem); /* 43.75-21.875 vw */
	--font-extreme: clamp(2rem, 0.444444444444444rem + 7.11111111111111vw, 4rem); /* 25pt-50pt | 35px-800px*/


	--color-background: #750000;
	--color-text: white;
	--color-highlight-background:white;
	--color-highlight-text: #750000;
	--color-link-hover: lightgrey;
}



html {
	overflow-x: hidden;
	overflow-y: hidden;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/* *:lang('de'):not(br) {
	visibility: hidden;
} */

body {
	
	width: 100vw;
	height: 100vh;
	min-width: 100vw;
	min-height: 100vh;
	max-width: 100vw;
	max-height: 100vh;

	padding:0px;
	margin:0px;
	background-color: var(--color-background);

	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: auto;
	grid-template-areas: "main";
	place-items: center;
}

main {
	color: var(--color-text);
	/* background-color: var(--color-background); */
	overflow-y: auto;
	overflow-x: hidden;
	height:100%;
	padding:20px;
	padding-top: 100px;
	scrollbar-gutter: stable both-edges;
}


main {grid-area: main;}
#controls {grid-area: controls;}

main, #controls {
	width:100vw;
}

header, main, #controls, #databanner {
	visibility: hidden;
}


/* SELECTION */

*::-moz-selection {
	color: var(--color-highlight-text);
	background: var(--color-highlight-background);
}

*::-webkit-selection {
	color: var(--color-highlight-text);
	background: var(--color-highlight-background);
}

*::selection {
	color: var(--color-highlight-text);
	background: var(--color-highlight-background);
}

/* LINK */

a {
	transition: color 0.3s ease;
}

a:link, a:active, a:visited
{
	text-decoration: none;
	color: var(--color-text);
}

a:hover {
	color: var(--color-link-hover);
}



/* TEXT */

h1 {
	white-space:nowrap;
	font-size: 3rem;
	font-size: var(--font-large);
	font-weight: 300;
	line-height: 1.4;
	margin:0px;
}

h2, h3 {
	font-size: 1.085rem;
	font-size: var(--font-regular);
	font-weight: 300;
	line-height: 1.4;
	margin:0px;
	margin-bottom:28px;
}

p, p *{
	font-size: 1.085rem;
	font-size: var(--font-regular);
	font-size: 22px;
	line-height: 1.8;
	line-height: 2.1;
	margin:0px;
	hyphens: auto;
}


small {
	font-size: 0.93rem;
	font-size: var(--font-small);
	line-height: 1.75;
	margin:0px;
}

cite {
	font-style: normal;
}

.passive {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.passive * {
	pointer-events: none;
}

.right {text-align: right !important;}
.center {text-align: center !important;}
.left {text-align: left !important;}


/* SCROLLBAR */

*::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	z-index:10;
}

*::-webkit-scrollbar-thumb {
	background: var(--scrollbar-color);
}

* {
	scrollbar-width: thin;
	scrollbar-color: var(--scrollbar-color) transparent;
}

:root {
	--scrollbar-color: transparent;
}


/* ELEMENTS */


iframe {
	border: 0;
	aspect-ratio: 16/9;
}

input, button {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-radius: 0;
	border: 3px outset grey;
}

input {
	border-style: inset;
}

input:focus {
	outline-width: 0;
}

input:active {
	outline-width: 0;
}


button:active {
	border-style:inset;	
}

button:disabled,
button[disabled]{
  cursor:not-allowed !important;
  border: outset rgba(128, 128, 128, 0.3);
  color:rgba(128, 128, 128, 0.5);
}


/* TITLES */

/* .issue-title {
	display: flex;
	justify-content: space-between;
	white-space:wrap;
	flex-wrap: nowrap;
	align-items: flex-start;
	white-space: nowrap;
	cursor: pointer;
	text-align: right;
	gap:15px;
	width:100%;
	-webkit-tap-highlight-color: transparent;
	line-height: 1.1;
} */

/* #slide-index .issue-title {
	font-size: 15pt;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
} */


@media screen and (max-width: 400px) {
	.issue-title br {
		display:inline;
	}
} */


/* FORM */

.abo {
	/* NEED THIS FOR SOME REASON OTHERWISE WONT APPLY */
    display: flex;
}

.abo {	
	width:100%;
	gap:2px;
	overflow:hidden;
    display: flex;
	justify-content: flex-end;
	flex-direction: row-reverse;
	gap: 5px;
}

.abo input {
	width:100%;
	background-color:white;
}

.abo span {
	width:100%;
}

.abo button {
	float:right;
	background-color:lightgrey;
	cursor: pointer;
}

.abo input, .abo button, td, th {
	height: fit-content;
	font-size: 26px;
	padding: 5px 20px;
	color: black;
}


@media screen and (max-width: 450px) {
	.abo {
		flex-direction: column-reverse;
		gap:5px;
	}

	.abo button, .abo input, td, th  {
		font-size: 13pt;
		text-align:left;
		padding-left: 10px;
	}

	.abo>span {
		padding-right: 0px;
	}
}

@media screen and (max-width: 350px) {
	.abo button, .abo input, td, th  {
		font-size: 11pt;
	}
}

.mail-checkbox {
	display:inline;
	position:relative;
	top: 3px;
	width: 15px;
	height: 15px;
	margin:0;
	margin-top:20px;
}


.abo-selection, .mail-info {
	font-size: 16px;
	line-height: 1.3 !important;
}

.abo-selection {
	text-align: center;
	width:100%;
	margin-bottom: 7px;
}

.mail-info {
	display:none;
	text-align: justify;
	white-space: pre-wrap;
	order:-1;
}




/* 3D */

:root {
	--model-width: 500px;
	--model-height: calc(var(--model-width) * 1.414);
	--model-depth: calc(var(--model-width) * 0.04);
}

.perspective {
	max-width: 1000px;
	perspective: 3000px;
	perspective-origin: 50% -500px;
	display: flex;
	justify-content: center;
	filter: drop-shadow(0 0 30px #333)
}

.box {
	position: relative;
	width: var(--model-width);
	height: var(--model-height);
	transform-style: preserve-3d;
	transform-origin: center center;
}

.face {
	position: absolute;
	background-color: white;
}


/* COVER */

.face.front, .face.back {
	background-size: cover;
	width: var(--model-width);
	height: var(--model-height);
}

.face.front {
	background-image: url("../images/issues/de/issue-i-cover.webp");
}

.face.back {
	background-image: url("../images/issues/de/issue-i-back.webp");
	transform: translateZ(calc(-1 * var(--model-depth))) scaleX(-1);
	
}


/* TOP + BOTTOM */

.face.bottom, .face.top {
	width: var(--model-width);
	height: var(--model-depth);
}

.face.top {
	top: 0%;
	transform-origin: top;
	transform: rotateX(-90deg);
}

.face.bottom {
	bottom: 0%;
	transform-origin: bottom;
	transform: rotateX(90deg);
}


/* SIDES */

.face.right, .face.left {
	height: var(--model-height);
	width: var(--model-depth);
}

.face.right {
	right: 0%;
	transform-origin: right;
	transform: rotateY(-90deg);
}

.face.left {
	left: 0%;
	transform-origin: left;
	transform: rotateY(90deg);
}


/* ISSUE FORMAT */

.issue-info {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	max-width: fit-content;
	white-space: nowrap;
	line-height: 1;
	text-decoration: none !important;
}
.issue-info a:hover {
	color: blue;
	text-decoration: none !important;
}

.issue-number {
	font-size:38px;
	line-height: 0.1;
	min-width: 80px;
}

.issue-title {
	text-align: left;
	font-size: 16px;
}



/* OTHER */

#seo {
	display: none;
}