/* MAIN */

body {
	grid-template-rows: auto 1fr;
	grid-template-areas: "header" "main";
}

#content {
	padding: 20px 60px;
}

section, article {
	padding:20px;
	scroll-margin-top:50px;
	background-color: white;
	border: solid 2px black;
	max-width: 700px;
	width: 100%;
}


/* COVER */

#title {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	column-gap:50px;
	width: 100%;
	max-width:900px;
	/* margin-top: 60px; */
	margin-bottom: 20px;
	font-weight: 700;
	line-height: 2;
	font-size: 1.25rem;
	font-size: var(--font-medium);
}

#abstract {
	margin-bottom: 150px;
}

.abstract, .abstract-title {
	min-width: 500px;
	width: 100%;
	/* max-width: 500px; */
}

.abstract-title {
	display:flex;
	align-items: flex-start;
	justify-content: space-between;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

.abstract-text {
	line-height: 1.5;
}

.artikelarrow {
	font-size:26pt;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	line-height: 0.5;
	margin-bottom: 0;
}

.issue-button-group {
	margin-top: 60px;
	display: flex;
	gap:4px;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.issue-button {
	text-align: center;
	font-size: var(--font-regular);
	width:180px;
	height:fit-content;
	padding: 0px;
	cursor: pointer;
	background: lightgrey;

	
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media screen and (max-width: 1400px) {
	.issue-button-group {
		flex-direction: column;
		align-items: flex-start;
	}
}


/* INHALT */

article {
	margin-bottom: 150px;
	text-align: justify;
	line-height: 2;
}

.artikel-title {
	margin-bottom: 65px;
}

.inline-link {
	margin-top: 60px;
}


/* BOTTOM */

.interaction > div, #creative-commons {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.interaction {
	display: flex;
	flex-direction: column;
	gap: 60px;
}

#interaction-top {
	margin-bottom: 150px;
}

#interaction-bottom {
	margin-top: 200px;
	margin-bottom: 120px;
}


#creative-commons {
	scroll-margin-top:0px;
	margin-bottom: 120px;
	flex-wrap: wrap;
	justify-content: space-between;
}

#creative-commons-icons {
	display: flex;
	flex-flow: row;
	gap:2px;
	align-items: flex-end;
}

#creative-commons-icons * {
	height: 48px;
}


/* REACTIVE */

@media screen and (max-width: 1400px) {
	body {
		grid-template-rows: auto 1fr auto;
		grid-template-areas: "header" "main" "footer";
	}

	#coverimagewrap {
		height:unset !important;
	}

	article, section {
		margin-left: auto;
		margin-right: auto;
	}

	#info-wrapper {
		background-color: #750000;
		border: unset;
		padding:0px;
		padding-top: 20px;
		display:flex;
		flex-direction: column; 
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}

	#inhaltsverzeichnis, #cover-wrap {
		background-color: white;
		border: solid 2px black;
		padding:20px;
	}

	#title, #cover-wrap {
		max-width: 700px;
	}

	#abstract, .abstract-title {
		min-width: unset;
		max-width: 500px;
	}
}

@media screen and (max-width: 800px) {
	#content {
		padding: 0px 12px;
	}
	
	#inhaltsverzeichnis, #cover-wrap, article, #creative-commons {
		padding:10px;
	}


	/* GUTTER FIX */

	#info-wrapper {
		flex-direction: row;
	}
}