/* MAIN */

main {
	padding-left: 60px;
	padding-right: 60px;
}

section, article {
	margin-bottom: 150px;
	padding:20px;
	scroll-margin-top:50px;
	max-width: 1000px;
	width: 100%;
	color: white;
}

article {
	margin-bottom: 40px;
	padding:20px;
	scroll-margin-top:50px;
	background-color: white;
	border: solid 2px black;
	width: 100%;
	color: black;
}

article *::-webkit-selection {
	color: white !important;
	background: #750000 !important;
}

article *::selection {
	color: white !important;
	background: #750000 !important;
}

article *::-moz-selection {
	color: white !important;
	background: #750000 !important;
}

#cover-section section {
	margin-bottom: unset;
	background-color: transparent;
	color: white;
	border: none;
}

#canvas-container {
	overflow: visible;
	/* border: 5px solid white; */
	background: transparent;
	color: transparent;
	width: 1200px;
	max-width: 100%;
	padding: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}


/* PROGRESSBAR */

:root {
	--progress-var: -webkit-linear-gradient(left, transparent, transparent 70%, transparent 70%, transparent 100%)
}

#progressbar {
	display: none;
	height: 5px;
	width: 100vw;
	position: absolute;
	top:0;
	z-index: 1000;
	background-image: var(--progress-var);
}


/* COVER */

#cover-section {
	margin-bottom: 300px;
	width:100%;
	margin-top:60px;

	display: flex;
	justify-content: space-between;
	gap: 20px;
}

#title {
	display: flex;
	justify-content: space-between;
	gap:20px;
	width: 100%;
	margin-bottom: 5px;
	line-height: 0.9;
	font-size: 1.25rem;
	font-size: var(--font-large);
}

#abstract {
	grid-area: abstract;

	justify-self: end;

	min-width: 550px;
	max-width: 900px;
	min-height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	gap:40px;
}

.abstract-text {
	line-height: 1.5;
	text-align: left;

	font-size: var(--font-medium-large);
	font-size: 22pt;
	font-size: 24pt;
	line-height: 1.2;
}


/* ARTIKEL */

article {
	text-align: justify;
	line-height: 2;
}

.artikel-title {
	margin-bottom: 60px;
	/* font-size: var(--font-extreme); */
	/* line-height: 0.9; */
	/* text-align: center; */
}


/* ISSUE BUTTONS */


.issue-button {
	text-align: center;
	cursor: pointer;
	background: lightgrey;
	color: black !important;

	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	min-width: auto;
	padding: 5px 20px;
	font-size: var(--font-regular);
	font-size: 15pt;
}

.issue-button-group {
	width: 100%;
	display: flex;
	gap:10px;
	line-height: 1;
}

.issue-button {
	min-width: 50px;
	width: 50px;
	height: 50px;
	background-color: var(--color-background);
	padding: 0;
}

.issue-button img {
	padding: 12px;
}

/* CC */


#creative-commons {
	display: flex;
	gap: 20px 50px;
	scroll-margin-top:0px;
	margin-bottom: 120px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#creative-commons-icons {
	display: flex;
	flex-flow: row;
	gap:5px;
	align-items: center;
}

#creative-commons-icons > img {
	height: 60px;
	width: 60px;
}


/* AUDIO */

.audio-timeline {
	width:100%;
}

audio {
	display: none;
}

article .issue-button-group {
	flex-direction: column-reverse;
}

article .audio-timeline {
	flex-direction: column;
	min-height: 300px;
}

.artikel-title {
	/* max-width: 900px; */
	margin-left: auto;
	margin-right: auto;
}

.artikel-text {
position: relative;
}

article .issue-button-group {
	position: absolute;
	top: 10px; 
	right: -100px;
	width: fit-content;
}

.audio-volume ~ * {
	display: none;
}

.button-group-basic, .button-group-audio  {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

@media screen and (max-width: 1400px) {
	article .issue-button-group {
		position: static;
		top: 0; 
		right: 0;
		margin-bottom: 20px;
		width: 100%;
		flex-direction: row;
	}

	article .audio-timeline {
		flex-direction: column;
		min-height: unset;
	}

	.button-group-basic, .button-group-audio  {
		flex-direction: row;
	}

	.audio-volume ~ * {
		display: block;
	}
}


.button-group-audio {
	flex-grow: 1;
	max-width: 100%;
}



/* REACTIVE */

@media screen and (max-width: 1400px) {

	#cover-section {
		display:flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap:60px;
	}

	article, section {
		margin-left: auto;
		margin-right: auto;
		position: relative
	}

	#abstract {
		min-width: unset;
		max-width: 800px;
	}

}

@media screen and (max-width: 800px) {

	#cover-section>*, article, section, #creative-commons {
		padding:30px;
		border-left: none;
		border-right: none;
	}

	main {
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 80px;
		-ms-overflow-style: none;  /* Internet Explorer 10+ */
		scrollbar-width: none;  /* Firefox */
	}

	main::-webkit-scrollbar { 
		display: none;  /* Safari and Chrome */
	}

	#progressbar {
		display: block;
	}

	.issue-button-group, .button-group-audio {
		gap: 5px;
	}
}


/* @media screen and (max-width: 600px) {
	.issue-button-group {
		justify-content: center;
	}
} */

@media screen and (min-width: 2000px) {
	#cover-section {
		justify-content: center;
		gap:300px;
	}
}




/* @supports (animation-range: entry-crossing) {
	.fit-to-width {
	  font-size: 15rem;
	  overflow: hidden;
	  scroll-snap-type: both mandatory;

	  & > * {
		
		max-width: unset !important;
		inline-size: max-content;
		transform-origin: 0 0;
		white-space: nowrap;
		text-align: left;
		overflow-wrap:break-word;
		white-space-collapse:preserve;
  
		animation: apply-text-ratio linear;
		animation-timeline: view(inline);
		animation-range: entry-crossing;
  
		display: block;
		scroll-snap-align: start;
		contain: layout;
	  }
	}

	.artikel-title br {
		display: none;
	}
  }

@keyframes apply-text-ratio {
	from {
	  transform: scale(0);
	  margin-block-end: -1lh;
	}
} */ */


svg {
  width: 100%;
}

svg text {
  font-family: "Quaderni" !important;
}