/* MAIN */

body {
	grid-template-rows: auto 1fr;
	grid-template-areas: "header" "main";
}

#content {
	padding: 40px 60px;
}

section, article {
	padding:20px;
	scroll-margin-top:50px;
	background-color: white;
	border: solid 2px black;
	max-width: 700px;
	width: 100%;
}


/* COVER */

/* #title {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	column-gap:50px;
	width: 100%;
	max-width:900px;
	margin-top: 60px;
	margin-bottom: 20px;
	font-weight: 700;
	line-height: 2;
	font-size: 1.25rem;
	font-size: var(--font-medium);
} */

#abstract {
	/* min-width: 500px; */
	/* width: 100%; */
}

.abstract-text {
	line-height: 1.5;
}


.issue-button-group {
	margin-top: 60px;
	display: flex;
	gap:4px;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	line-height: 1;
}

.issue-button {
	text-align: center;
	font-size: var(--font-regular);
	width:180px;
	padding: 0px;
	cursor: pointer;
	background: lightgrey;

	
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


/* INHALT */

article {
	text-align: justify;
	line-height: 2;
	margin-bottom: 150px;
}

.artikel-title {
	margin-bottom: 65px;
}


/* CC */


#creative-commons {
	scroll-margin-top:0px;
	margin-bottom: 120px;
	flex-wrap: wrap;
	justify-content: space-between;
}

#creative-commons-icons {
	display: flex;
	flex-flow: row;
	gap:2px;
	align-items: flex-end;
}

#creative-commons-icons * {
	height: 48px;
}


/* REACTIVE */

@media screen and (max-width: 1400px) {

	article, section {
		margin-left: auto;
		margin-right: auto;
	}

	/* #title {
		max-width: 700px;
	} */

	#abstract {
		min-width: unset;
		max-width: 500px;
	}

	.issue-button {
		width: 140px;
		font-size: 9pt;
	}
}

@media screen and (max-width: 800px) {
	#content {
		padding: 20px 12px;
	}
	
	article, section {
		padding:10px;
	}
}


@media screen and (max-width: 530px) {
	.issue-button-group {
		flex-direction: column;
		align-items: flex-start;
	}

	.issue-button {
		font-size: var(--font-regular);
		width:180px;
	}
}