/* MAIN */

main {
	padding-left: 60px;
	padding-right: 60px;
}

section, article {
	margin-bottom: 150px;
	padding:20px;
	scroll-margin-top:50px;
	max-width: 900px;
	width: 100%;
	color: white;
}

article {
	margin-bottom: 40px;
	padding:20px;
	scroll-margin-top:50px;
	background-color: white;
	border: solid 2px black;
	max-width: 900px;
	width: 100%;
	color: black;
}

article *::-webkit-selection {
	color: white !important;
	background: #750000 !important;
}

article *::selection {
	color: white !important;
	background: #750000 !important;
}

article *::-moz-selection {
	color: white !important;
	background: #750000 !important;
}

#cover-section section {
	margin-bottom: unset;
	background-color: transparent;
	color: white;
	border: none;
}

#canvas-container {
	overflow: visible;
	/* border: 5px solid white; */
	background: transparent;
	color: transparent;
	width: 1200px;
	max-width: 100%;
	padding: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}


/* PROGRESSBAR */

:root {
	--progress-var: -webkit-linear-gradient(left, transparent, transparent 70%, transparent 70%, transparent 100%)
}

#progressbar {
	display: none;
	height: 5px;
	width: 100vw;
	position: absolute;
	top:0;
	z-index: 1000;
	background-image: var(--progress-var);
}


/* COVER */

#cover-section {
	margin-bottom: 300px;
	width:100%;
	margin-top:60px;

	display: flex;
	justify-content: space-between;
	gap: 20px;
}

#title {
	display: flex;
	justify-content: space-between;
	gap:20px;
	width: 100%;
	margin-bottom: 5px;
	line-height: 0.9;
	font-size: 1.25rem;
	font-size: var(--font-large);
}

#abstract {
	grid-area: abstract;

	justify-self: end;
	/* height: 100%; */
	min-width: 550px;
	max-width: 900px;
	min-height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	gap:40px;

	/* border: unset;
	background-color: unset;
	color: white; */
}

.abstract-text {
	line-height: 1.5;
	text-align: left;
	font-weight: 900;

	font-size: var(--font-medium-large);
	font-size: 22pt;
	font-size: 24pt;
	line-height: 1.2;
}


/* ARTIKEL */

article {
	text-align: justify;
	line-height: 2;
}

.artikel-title {
	margin-bottom: 60px;
	font-size: var(--font-extreme);
	line-height: 0.9;
}


/* AUDIO */

audio {
	width: 100%;
}

audio::-webkit-media-controls-enclosure {
    border-radius: 0px;
    background-color: var(--color-background);
	
    color: var(--color-text);
	border: 3px inset grey;
}

audio::-webkit-media-controls-timeline {
    background-color: green;
	font-family: Gespenst;
	color: var(--color-text);
	text-shadow: none;
}

audio::-webkit-media-controls-time-remaining-display {
	font-family: Gespenst;
	color: var(--color-text);
	text-shadow: none;
}

audio::-webkit-media-controls-current-time-display {
	font-family: Gespenst;
	color: var(--color-text);
	text-shadow: none;
}

audio::-webkit-media-controls-timeline-container {
    background-color: orange;
}

audio::-webkit-media-controls-play-button {
    
	font-family: Gespenst;
	color: var(--color-text);
	text-shadow: none;
}


/* ISSUE BUTTONS */


.issue-button {
	text-align: center;
	cursor: pointer;
	background: lightgrey;
	color: black !important;

	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	min-width: auto;
	padding: 5px 20px;
	font-size: var(--font-regular);
	font-size: 15pt;
}




/* ABO */

#abo-selection-content {
	font-size: 11pt;
	line-height: 1.3 !important;
}

#abo-content input, #abo-content button {
	height: 50px;
}

#email-form-content {
	flex-direction: column-reverse;
}

#email-checkbox-content {
	display:inline;
	position:relative;
	top: 3px;
	width: 15px;
	height:15px;
	margin:0;
	margin-top:20px;
}

#email-info-content {
	display:none;
	font-size: 9pt;
	line-height: 1.3 !important;
	text-align: justify;
	white-space: pre-wrap;
	order:-1;
}

#telegram-form-content, #instagram-form-content {
	display: none;
}

#telegram-btn-content, #instagram-btn-content {
	width: 100%;
	text-align:center !important;
}

#telegram-btn-content *, #instagram-btn-content * {
	padding: 0 !important;
}


/* CC */


#creative-commons {
	display: flex;
	gap: 30px 0px;
	scroll-margin-top:0px;
	margin-bottom: 120px;
	flex-wrap: wrap;
	justify-content: flex-start;
}

#creative-commons a:link {
	color: white;
}

#creative-commons a:hover {
	color: white;
}

#creative-commons-icons {
	display: flex;
	flex-flow: row;
	gap:2px;
	align-items: flex-end;
}

#creative-commons-icons * {
	height: 50px;
}


/* REACTIVE */

@media screen and (max-width: 1400px) {

	#cover-section {
		display:flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap:60px;
	}

	article, section {
		margin-left: auto;
		margin-right: auto;
		position: relative
	}

	#abstract {
		min-width: unset;
		max-width: 800px;
	}

	/* COVER */
}

@media screen and (max-width: 800px) {

	#cover-section>*, article, section, #creative-commons {
		padding:30px;
		border-left: none;
		border-right: none;
	}

	main {
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 80px;
		-ms-overflow-style: none;  /* Internet Explorer 10+ */
		scrollbar-width: none;  /* Firefox */
	}

	main::-webkit-scrollbar { 
		display: none;  /* Safari and Chrome */
	}

	#progressbar {
		display: block;
	}
}


@media screen and (max-width: 600px) {
	.issue-button-group {
		/* flex-direction: column; */
		justify-content: center;
	}
}

@media screen and (min-width: 2000px) {
	#cover-section {
		justify-content: center;
		gap:300px;
	}
}




@supports (animation-range: entry-crossing) {
	.fit-to-width {
	  font-size: 15rem;
	  overflow: hidden;
	  scroll-snap-type: both mandatory;

	  & > * {
		
		max-width: unset !important;
		inline-size: max-content;
		/* line-height: 1; */
		transform-origin: 0 0;
		white-space: nowrap;
		text-align: left;
		overflow-wrap:break-word;
		white-space-collapse:preserve;
  
		animation: apply-text-ratio linear;
		animation-timeline: view(inline);
		animation-range: entry-crossing;
  
		display: block;
		scroll-snap-align: start;
		contain: layout;
	  }
	}

	.artikel-title br {
		display: none;
	}
  }

@keyframes apply-text-ratio {
	from {
	  transform: scale(0);
	  margin-block-end: -1lh;
	}
}


.issue-button-group {
	width: 100%;
	display: flex;
	gap:10px;
	line-height: 1;
}

.issue-button {
	min-width: 50px;
	width: 50px;
	height: 50px;
	background-color: var(--color-background);
	padding: 0;
}

.issue-button img {
	padding: 12px;
}


/* .issue-button {
	border-radius: 100px;
	padding: 20px 0px;
	font-family: "Gespenst";
	font-weight: 900;
	width: 250px;
	text-shadow: 2px 2px 3px rgba(0,0,0,.2);
	font-size: 18px;
	box-shadow:
		-6px -6px 26px rgba(117,0,0,.83),
		5px 10px 15px rgba(255,255,255,.05),
		15px 20px 35px rgba(255,255,255,.1),
		inset -2px -2px 2px rgba(255,255,255,.1),
		inset -1px -1px 3px rgba(117,0,0,.6),
		inset 2px 2px 8px rgba(117,0,0,.2),
		inset 1px 1px 8px rgba(117,0,0,.2),
		-6px -6px 26px rgba(117,0,0,.8);
	background-color: #750000;
	margin: auto;
	border: 0;
	transition: 300ms ease-out;
	cursor: pointer;
	color: white !important;
	
	&:hover {
		box-shadow: 
			4px 4px 6px rgba(255,255,255,.2), 
			5px 10px 35px rgba(255,255,255,.1),
			8px 10px 25px rgba(255,255,255,.1),
			inset -1px -1px 9px rgba(255,255,255,.2),
			inset -1px -1px 3px rgba(117,0,0,.6),
			inset 1px 1px 8px rgba(117,0,0,1),
			inset 4px 4px 24px rgba(255,255,255,.15),
			-5px -5px 15px rgba(117,0,0,.9);
		transform: scale(.98);
		

	}
	
	&:active, &:focus {
			box-shadow: inset 2px 2px 16px rgba(117,0,0,.9), inset 8px 8px 9px rgba(255,255,255,.2), 5px 10px 5px rgba(255,255,255,.03), -5px -5px 25px rgba(117,0,0,.1), -2px -2px 9px rgba(117,0,0,.1), inset -2px -2px 9px rgba(117,0,0,1);
			outline: none;
			background-color: #750000;
		text-shadow: -2px -2px 3px rgba(255,255,255,.2), 2px 2px 3px rgba(117,0,0,1);
		transform: translateY(3px);
		}
} */