:root {
  --theme:red;
  --default-scrollbar-color: white;
  --header-color: #750000;
  --header-color-contrast: white;
  --header-color-text: white;
  --content-color: #750000;
  --content-color-contrast-text: #750000;
  --content-color-contrast: white;
  --content-color-text: white;
  --content-color-link-hover: lightgray;
}