:root {
	--theme:white;
	--default-scrollbar-color: white;
	--header-color: #750000;
	--header-color-contrast: white;
	--header-color-text: white;
	--content-color: #750000;
	--content-color-contrast-text: white;
	--content-color-contrast: #750000;
	--content-color-text: black;
	--content-color-link-hover: #750000;
}